@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.crisp-client .cc-1brb6 .cc-1yy0g .cc-1no03 .cc-rfbfu .cc-1iwcs .cc-1nvun .cc-qqgts .cc-1si9v {
  display: none !important;
  transition: color 50ms linear !important;
}